html, body{
	height: 100%;
}

main{
	min-height: 100%;
}

.bottom-push,
.footer {
	height: 80px;
}

.footer {
	margin-top: -80px;
	width: 100%;
	background-color: #f0f0f0;
}

.site-head {
	padding: 1.5em 0.5em;
	background-color: #e0e0e0;
	margin-bottom: 1.5em;
}

.footer {
	display: flex;
}

.footer .container {
	margin: auto auto;
}
